<div class="transitionEndBubbleStop">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!--<div class="swiper-slide  ">
        <div class="top">
          <h2 class="title"><%= __('Welcome.index.swiper.slide1.title') %></h2>
          <p class="text"><%= __('Welcome.index.swiper.slide1.subtitle1') %></p>
          <p class="text"><%= __('Welcome.index.swiper.slide1.subtitle2') %></p>
        </div>
      </div>-->
      <div class="swiper-slide">
        <div class="top">
          <h2 class="md-headline title"><%= __('Welcome.index.swiper.slide1.title') %></h2>

          <p class="md-subhead text first"><%= __('Welcome.index.swiper.slide1.subtitle1') %></p>

          <p class="md-subhead text second"><%= __('Welcome.index.swiper.slide1.subtitle2') %></p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="top">
          <h2 class="md-headline title"><%= __('Welcome.index.swiper.slide2.title') %></h2>

          <p class="md-subhead text first"><%= __('Welcome.index.swiper.slide2.subtitle1') %></p>
          <p class="md-subhead text second"><%= __('Welcome.index.swiper.slide2.subtitle2') %></p>
          <p class="md-subhead text third"><%= __('Welcome.index.swiper.slide2.subtitle3') %></p>
          <p class="md-subhead text fourth"><%= __('Welcome.index.swiper.slide2.subtitle4') %></p>
        </div>
      </div>


      <div class="swiper-slide  ">
        <div class="top">
          <h2 class="md-headline title"><%= __('Welcome.index.swiper.slide3.title') %></h2>

          <p class="md-subhead text first"><%= __('Welcome.index.swiper.slide3.subtitle1') %></p>

          <p class="md-subhead text second"><%= __('Welcome.index.swiper.slide3.subtitle2') %></p>

          <p class="md-subhead text third"><%= __('Welcome.index.swiper.slide3.subtitle3') %></p>
        </div>
      </div>
      <div class="swiper-slide" ng-click="openPopup('hackathon/')">

      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class="featureRow ">
  <div class="item">
    <img src="/resource/welcome/jdgx@2x.png"/>
    <div class="title">
      <h3><%= __('Welcome.index.whatwedo.item1.title') %></h3>
    </div>
  </div>
  <div class="item">
    <img src="/resource/welcome/gttgbf@2x.png"/>
    <div class="title">
      <h3><%= __('Welcome.index.whatwedo.item2.title') %></h3>
    </div>
  </div>
  <div class="item">
    <img src="/resource/welcome/dcsjbh@2x.png"/>
    <div class="title">
      <h3><%= __('Welcome.index.whatwedo.item3.title') %></h3>
    </div>
  </div>
</div>

<div class="featurePlusRow">
  <div class="item">
    <div class="icon">
      <img src="/resource/welcome/theme_wlnl@2x.png"/>
    </div>
    <div class="text">
      <h3 class="title"><%= __('Welcome.index.slogan.item1.title') %></h3>
      <p>
        <span><%= __('Welcome.index.slogan.item1.listing1') %></span>
        <span><%= __('Welcome.index.slogan.item1.listing2') %></span>
        <span><%= __('Welcome.index.slogan.item1.listing3') %></span>
      </p>
      <p>
        <span><%= __('Welcome.index.slogan.item1.listing4') %></span>
        <span><%= __('Welcome.index.slogan.item1.listing5') %></span>
        <span><%= __('Welcome.index.slogan.item1.listing6') %></span>
        <span><%= __('Welcome.index.slogan.item1.listing7') %></span>
      </p>
    </div>
  </div>
  <div class="item">
    <div class="text">
      <h3 class="title"><%= __('Welcome.index.slogan.item2.title') %></h3>
      <p>
        <span><%= __('Welcome.index.slogan.item2.listing1') %></span>
        <span><%= __('Welcome.index.slogan.item2.listing2') %></span>
      </p>
      <p>
        <span><%= __('Welcome.index.slogan.item2.listing3') %></span>
      </p>
    </div>
    <div class="icon">
      <img src="/resource/welcome/theme_dsjfx@2x.png"/>
    </div>
  </div>
  <div class="item">
    <div class="icon">
      <img src="/resource/welcome/theme_sjcc@2x.png"/>
    </div>
    <div class="text">
      <h3 class="title"><%= __('Welcome.index.slogan.item3.title') %></h3>
      <p>
        <span><%= __('Welcome.index.slogan.item3.listing1') %></span>
        <span><%= __('Welcome.index.slogan.item3.listing2') %></span>
      </p>
      <p>
        <span><%= __('Welcome.index.slogan.item3.listing3') %></span>
        <span><%= __('Welcome.index.slogan.item3.listing4') %></span>
      </p>
    </div>
  </div>
</div>
<div class="triangleRow">
  <h2 class="title"><%= __('Welcome.index.resourceful.title') %></h2>
  <p class="text"><%= __('Welcome.index.resourceful.subtitle1') %></p>
  <p class="text last"><%= __('Welcome.index.resourceful.subtitle2') %></p>
  <md-button class="md-raised md-linear-button-3 md-button" aria-label="data control" href="/welcome/suppliers" target="_blank">
    <%= __('Welcome.index.resourceful.supplier')%>
  </md-button>
</div>

<div class="abvfooterRow">
  <div class="item">
    <h3 class="title"><%= __('Welcome.index.abovefooter.aboutus') %></h3>
    <ul>
      <li><a href="http://www.rongcapital.cn/jobs.html"
             target="_blank"><%= __('Welcome.index.abovefooter.recruit') %></a></li>
      <li><a href="http://www.rongcapital.cn/contact.html"
             target="_blank"><%= __('Welcome.index.abovefooter.contactus') %></a></li>
    </ul>
  </div>
  <div class="item">
    <h3 class="title"><%= __('Welcome.index.abovefooter.partnersite') %></h3>
    <ul>
      <li><a href="http://www.rongcapital.cn" target="_blank"><%= __('Welcome.index.abovefooter.rongcapital') %></a>
      </li>
      <li><a href="http://www.junrongdai.com" target="_blank"><%= __('Welcome.index.abovefooter.junrongdai') %></a>
      </li>
      <li><a href="http://xiaovpu.com/" target="_blank">小微铺</a></li>
      </li>
    </ul>
  </div>
  <div class="item">
    <h3 class="title"><%= __('Welcome.index.abovefooter.contactus') %></h3>
    <ul>
      <li><a href="javascript:"><%= __('Welcome.index.abovefooter.businesscooperation') %></a></li>
      <li><a href="javascript:"><%= __('Welcome.index.abovefooter.customerservice') %></a></li>
      <li><a href="javascript:"><span>紧急联系电话: 0411-39520360</span></a></li>
      <li><a href="javascript:"><span>紧急联系手机号: 18624420365</span></a></li>
    </ul>
  </div>
  <div class="images">
    <img class="barcode" src="/resource/barcode.jpg"/>
    <img class="logo" src="/resource/logo_2.svg"/>
  </div>
  <!--<div layout="row" layout-align="center" layout-fill>

    <div class="md-padding barcode">
      <img src="/resource/barcode.jpg"/>
    </div>
    <div layout="row" flex layout-align="end">
      <md-button class=" navigator-logo" aria-label="Settings" ng-click="go('index')">
        <md-icon md-svg-icon="/resource/logo_2.svg"></md-icon>
      </md-button>
    </div>
  </div>-->
</div>
